<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  </head>


  <title>Blogosaurus Blog</title>


  <body>

    <div class="menudiv">
      <a href="http://www.google.com">About Me</a>
      <a href="http://www.google.com">Top Shows</a>
      <a href="http://www.google.com">Year in Review</a>
    </div>

    <img id="myimage" src="myphotoplaceholder.png" alt="Image Placeholder">

    <h1 id="main_title">OBI IHEJIRIKA</h1>

    <div class="blogSections" id="all_about_me">
      <h1>All About Me</h1>
        <p>Heres a bit about me and the things I've been doing the last couple years.
          I'm a rising freshman going to go to wilfird laurier university in the coming september. I'll be studying
          computer science and business administration with the hopes of one day onwing owning and
          running my own business.
        </p>
    </div>

    <div class="blogSections">
      <h1>My Favourite Shows</h1>
        <ol>
          <li><a href="https://www.amazon.com/Fargo-Season-1/dp/B00JMJQJHI">FARGO</a></li>
          <li><a href="https://www.amazon.com/Winter-Is-Coming/dp/B007BVOEPI/ref=sr_1_2?keywords=game+of+thrones&qid=1562764697&s=instant-video&sr=1-2">GOT</a></li>
          <li><a href="https://www.amazon.com/Pilot/dp/B00B8PCLTY/ref=sr_1_1?keywords=the+americans&qid=1562764726&s=instant-video&sr=1-1">The Americans</a></li>
          <li><a href="https://www.amazon.com/The-Larry-David-Sandwich/dp/B003QF4UOS/ref=sr_1_2?crid=3Q3FQ6PM02G1I&keywords=curb+your+enthusiasm&qid=1562764753&s=instant-video&sprefix=c+urb+your+enthusia%2Cinstant-video%2C127&sr=1-2">Curb Your Enthusiasm</a></li>
          <li><a href="https://www.amazon.com/The-Original/dp/B01N05UD06/ref=sr_1_1?keywords=westworld&qid=1562764787&s=instant-video&sr=1-1">Westworld</a></li>
        </ol>
    </div>

    <div class="blogSections">
      <h1>My Year in Review</h1>
        <p>My life has been filled with change and getting up early and getting up after opportunites.
        <br>My parents retired, so I moved to south america for almost a year. I then came to new
        <br>York to spend the year with my sister until I move into university in Canada.
        </p>
    </div>

  </body>
  <script src="index.js"></script>
</html>
