<!DOCTYPE html>
<html>
  <head>
    <title>Blogasaurus Blog Entry</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <form action="/blogsubmission" method="post">

      <label>
        Type a title for your blog entry:
        <input type="text" name="title" value="">
      </label> <br>

      <label>
        Your name here:
        <input type="text" name="author" value="">
      </label>

      <label>
        Type your blog here:
        <input type="text" name="entry" value="">
      </label><br>

      <button type="submit"> Submit Entry</button>

    </form>

  </body>
</html>
