h1 {
  color: #87bd22;
  font-size: 50px;
  font:
}

body {
  background-color: lightgreen;
  font-size: 17
}

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 600px;
  margin-inline-end: 100px;
}

ol {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 600px;
  margin-inline-end: 100px;
}

#backgrounddiv {
  background-color: #cfc ;
  width: 500px;
  height: 500px;
  font-size: 34px;
}
#demobox {
  background-color: #cfc ;
}

#aboutme {
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 700px;
    margin-inline-end: 200px;
}

#favouriteShows {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 645px;
  margin-inline-end: 200px;
}

#yearinReview {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 645px;
  margin-inline-end: 200px;
}
